//@import "compass/reset";
@import "compass/css3";

.enjoy-css {
  @include box-sizing(border-box);
  position: relative;
  padding: 20px;
  //overflow: hidden;
  //border: none;
  @include border-radius(4px);
  //font: normal 16px/1 "Times New Roman", Times, serif;
  color: rgba(255,255,255,1);
  text-align: center;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  @include background(#0199d9);
  @include box-shadow(1px 1px 1px 0 rgba(0,0,0,0.3) );
  @include text-shadow(1px 1px 1px rgba(0,0,0,0.2) );
}
