.wrapper {
	width: 650px;
	margin: 10px auto;
	box-shadow: 5px 5px 5px #555;
	background: #7BFFDA;
	border-radius: 15px;
	padding: 10px;
}

.contact-item {
	border-bottom: thin solid #ccc;
	padding: 10px;
}